.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tooltip-container {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  box-shadow: 3px 3px 7px grey;
}

.tooltip-label {
  color: #4A4A4A;
  opacity: 1;  
  display: inline;
  font-weight: bold;
  margin-right: 10px;
}

.tooltip-value {
  color: #4A4A4A;
  font-weight: normal;
  display: inline;
}