.App {
  text-align: center;
}

.app-container {
  margin-top: 20px;
}

.tooltip-container {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  box-shadow: 3px 3px 7px grey;
}

.flex-segment {
  display: flex;
  justify-content: center;
}

.tooltip-label {
  color: #4a4a4a;
  opacity: 1;
  display: inline;
  font-weight: bold;
  margin-right: 10px;
}

.tooltip-value {
  color: #4a4a4a;
  font-weight: normal;
  display: inline;
}

.legend {
  margin-left: 100px;
  width: 300px;
  @media (max-width: 750px) {
    margin-left: 0;
  }
}

.legend .wrapper {
  position: relative;
  p {
    margin-left: 7px;
    @media (max-width: 640px) {
      width: 90px;
    }
  }
  * {
    display: inline-block;
  }
}

.positive {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #78ea7d;
  position: absolute;
  left: -5px;
  top: 6px;
}
.negative {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: 6px;
  background-color: #ce8287;
}
.paginator {
  @media (max-width: 320px) {
    width: 90%;
  }
}
.ui.menu {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  .ui.menu {
    .right.item {
      margin-right: auto !important;
      width: 100%;
    }
  }
}

.filter-wrapper {
  margin-right: 10px;
}

.chart-container {
  margin: auto;
}
